pipeline/Convert Array to String with Join.json
{
	"name": "Convert Array to String with Join",
	"properties": {
		"activities": [
			{
				"name": "Lookup Emails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "az_ADLS_emails",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Email",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Emails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Emails').output.value",
						"type": "Expression"
					},
					"isSequential": true
				}
			}
		],
		"variables": {
			"EmailArray": {
				"type": "Array"
			},
			"EmailString": {
				"type": "String"
			}
		},
		"annotations": []
	}
}