pipeline/Execute ADFLogs.json
{
	"name": "Execute ADFLogs",
	"properties": {
		"activities": [
			{
				"name": "Set FileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LogFileName",
					"value": {
						"value": "@concat(formatDateTime(utcnow(),'yyyy-MM-dd'),'_log.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "az_ADLS_logfile",
						"type": "DatasetReference",
						"parameters": {
							"logfileName": {
								"value": "@variables('LogFileName')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Check whether file exists or not",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "False",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "DF LogADF_append",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF LogADF_append",
									"type": "DataFlowReference",
									"parameters": {
										"ADFName": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"PipeLineName": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"RunID": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"Status": {
											"value": "'@{string('Success')}'",
											"type": "Expression"
										},
										"TriggerName": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"logFileName": {
											"value": "'@{variables('LogFileName')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"logfile": {
											"logfileName": {
												"value": "@variables('LogFileName')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 3
				}
			}
		],
		"variables": {
			"LogFileName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}