pipeline/Lookup and If Condition.json
{
	"name": "Lookup and If Condition",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata of Employee Text file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Employee_Input",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get Last Execution Date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Metadata of Employee Text file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_GetExecutionDate]",
						"storedProcedureParameters": {
							"Name": {
								"type": "String",
								"value": {
									"value": "@activity('Get Metadata of Employee Text file').output.itemName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Az_SQL_Database_dbo_emp",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get LastModifyDate",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Last Execution Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(\naddhours(formatDateTime(\nactivity('Get Metadata of Employee Text file').output.lastModified,'o'),-4)\n,activity('Get Last Execution Date').output.firstRow\n)\n\n\n\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "False",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "True",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}